@import '/app/_shared/const/variables';

.planPrice_price_currency {
    position: relative;
    bottom: $point * 2.5;
    margin-right: $point * 1;
    font-size: 18px;
    line-height: 1.6;
}

.planPrice_title {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
    white-space: nowrap;
}

.planPrice_period {
    white-space: nowrap;
}
