@import '/app/_shared/const/variables';

.main {
    @include flexHorizontalSpace(2);
    align-items: center;
    width: fit-content;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    text-align: left;
    transition: all $transition;

    &.checked {
        color: $neutral200;
    }

    &.disabled {
        color: $neutral200;
    }

    &_icon {
        position: relative;
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: $point * 5;
        height: $point * 5;

        & svg {
            width: 100%;
            height: 100%;
        }
    }

    &_success {
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(0.7);
        visibility: hidden;
        opacity: 0;
        color: $primary500;
        transition: all $transition;

        .checked & {
            transform: rotate(0);
            visibility: visible;
            opacity: 1;

            path {
                stroke: $white;
            }
        }
    }

    &_circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: $point * 0.3875;
        border-radius: 50%;
        transition: all $transition;

        &::before {
            content: '';
            display: inline-block;
            width: 100%;
            height: 100%;
            border: 1px solid $neutral400;
            border-radius: inherit;
            transition: all $transition;

            .disabled & {
                border-color: $neutral200;
            }
        }

        .primary & {
            padding: 0;
            border-radius: $point;
        }

        .checked & {
            transform: scale(0.7);
            visibility: hidden;
            opacity: 0;
        }
    }
}

@media (any-hover: hover) {
    button.main:hover:not(.checked) {
        color: $neutral200;

        .main_circle::before {
            border-color: $neutral200;
        }
    }
}
