@import '/app/_shared/const/variables';

.main {
    display: flex;
    align-items: center;
    width: fit-content;

    &.reverse {
        flex-direction: row-reverse;
    }

    &.vertical {
        flex-direction: column;

        &.reverse {
            flex-direction: column-reverse;
        }
    }
}
