@import '/app/_shared/const/variables';

.main {
    display: flex;
    flex-direction: column;
    gap: $point * 6;
    align-items: center;
    width: 100%;
    padding-block: $point * 20;
}

.item {
    overflow: hidden;
    display: flex;
    width: 100%;
    background-color: $primary50;
    border-radius: $point * 6;

    &:nth-child(odd) {
        flex-direction: row-reverse;
    }

    @media (max-width: $screen-lg) {
        flex-direction: column !important;

        .content {
            order: 1;
            width: 100%;
        }

        .imageWrapper {
            order: 2;
            width: 100%;
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: $point * 3;
    justify-content: center;
    width: 37%;
    padding-inline: $point * 12;
    background-image: url('./assets/bgPattern.png');
    background-position: top left;
    background-size: cover;

    @media (max-width: $screen-lg) {
        padding: $point * 12;
    }

    @media (max-width: $screen-sm) {
        padding: $point * 6;
        background-image: none;
    }
}

.title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.6;
}

.description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}

.imageWrapper {
    position: relative;
    aspect-ratio: 820/530;
    width: 63%;

    // Due to the difference in the original image size 1st is 830, 2nd is 820, we need to adjust the width of the first image
    &.firstImage {
        aspect-ratio: 830/530;
        width: 66%;

        @media (max-width: $screen-lg) {
            width: 100%;
        }
    }

    img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;

        @media (max-width: $screen-lg) {
            object-fit: cover;
        }
    }
}
