@import '/app/_shared/const/variables';

.main {
    padding-block: $point * 20;

    &_content {
        display: grid;
        grid-template-columns: 1fr auto 1fr auto 1fr;
        gap: $point * 6;
        place-items: center;
    }
}

.item {
    position: relative;
    overflow: hidden;
    height: 100%;
    padding: $point * 12;
    border: 1px solid $neutral100;
    border-radius: $point * 6;
    box-shadow: $boxShadow;
    transition: $transition;

    &_img {
        position: absolute;
        z-index: -1;
        right: 0;
        bottom: 0;
        transition: $transition;
    }

    &_icon {
        display: grid;
        place-items: center;
        width: $point * 12;
        min-width: $point * 12;
        height: $point * 12;
        padding: $point * 2;
        background-color: $primary50;
        border-radius: $point * 2;
        font-size: $point * 4;
        font-weight: 500;
        color: $primary500;
    }

    @media (any-hover: hover) {
        &:hover > .item_img {
            transform: scale(1.1);
        }
    }
}

.macbook {
    margin-top: $point * 14;
    background: linear-gradient(0deg, $white 10.5%, rgb(255 255 255 / 0%) 89.5%);

    > img {
        position: relative;
        z-index: -1;
    }
}

.icon {
    transform: rotate(90deg);
}
